* {
    margin: 0;
    padding: 0;
}


body {
  color: #aaa;
  background-color: #2F2F2F;
  text-align: center;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: inline-block;
  margin: 35px auto;
}

video {
  object-fit: cover;
  width: 1500px;
  height: auto;
  opacity: 0.7;
}

.header-wrap {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 50px;
  font-family: "Karla", sans-serif;
  transform: perspective(200px) rotateX(10deg);
  letter-spacing: .1em;
  user-select: none;
  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #004d40, 
    0 2px 0 #00483B, 
    0 3px 0 #004639, 
    0 4px 0 #004336, 
    0 5px 0 #004134, 
    0 6px 0 #003F32, 
    0 7px 0 #003D30, 
    0 8px 0 #003A2D, 
    0 9px 0 #00382B, 
    0 10px 0 #003528, 
    0 11px 0 #003225, 
    0 12px 0 #002F22, 
    0 13px 0 #002B1E, 
    0 14px 0 #00281C, 
    0 15px 0 #001F13, 
    0 22px 30px rgba(0,0,0, 0.9),
    0 22px 30px rgba(0, 0, 0, 0.9),
    0 22px 15px rgba(0, 0, 0, 0.9),
    0 11px 15px rgba(0, 0, 0, 0.9),
    0 15px 20px rgba(0, 0, 0, 0.9),
    0 15px 11px rgba(0, 0, 0, 0.9),
    0 16px 11px rgba(0, 0, 0, 0.9);
  transition: text-shadow .3s ease .3s, 
    transform .3s ease .3s,
    letter-spacing .3s ease .3s;
}

  .header-wrap:hover {
    transition: text-shadow .33s ease, 
      transform .3s ease,
      letter-spacing .3s ease;
    text-shadow: 0 0 0 #004134,
      0 1px 0 #00483B,
      0 2px 0 #003528,
      0 3px 3px rgba(0, 0, 0, 0.9);
    transform: translate(0px, 15px) 
      perspective(200px) 
      rotateX(10deg);
    letter-spacing: .125em;
  }





  * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    position: relative;
    background: #000;
    overflow: hidden;
  }
    body:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
      z-index: 500;
      mix-blend-mode: overlay;
      pointer-events: none;
    }
  
  
  .noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 400;
    opacity: .8;
    pointer-events: none;
  }
  .noise:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('https://ice-creme.de/images/background-noise.png');
      pointer-events: none;
    }
  
.noise-moving {
      opacity: 1;
      z-index: 450;
}
      .noise-moving:before {
        will-change: background-position;
        animation: noise 1s infinite alternate;
      }
    
  
  
  .scanlines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 300;
    opacity: .6;
    will-change: opacity;
    animation: opacity 3s linear infinite;
  }
  .scanlines:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
      background-size: 100% 4px;
      animation: scanlines .2s linear infinite;
    }
  
  .intro-wrap {
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    font-family: "Karla", sans-serif;
    color: #fff;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    background: #2b52ff;
  }
   
      .intro-wrap:before {
        background-size: 200%;
      }
  
  
  
    .play {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      will-change: text-shadow;
      animation: rgbText 2s steps(9) 0s infinite alternate;
    }

    .play2 {
      position: absolute;
      left: 28rem;
      top: 2rem;
      will-change: text-shadow;
      animation: rgbText 2s steps(9) 0s infinite alternate;
      font-size: 40px;
      color:whitesmoke;
  }


  .play3 {
    position: absolute;
    left: 36rem;
    top: 16rem;
    will-change: text-shadow;
    animation: rgbText 2s steps(9) 0s infinite alternate;
    font-size: 60px;
}


.play4 {
  position: absolute;
  left: 14rem;
  top: 20rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  font-size: 120px;
}

.play4:hover {
  letter-spacing: 10px;
  left: 10rem;
  color: greenyellow;
}


.play5 {
  position: absolute;
  left: 17rem;
  top: 23rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  font-size: 55px;
  color: greenyellow;
}

.left {
  margin-left: 3rem; 
}

.LINK{
  position: absolute;
  left: 18rem;
  bottom: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  font-size: 35px;
  color: white;
  background: red;
  text-decoration: none;
  padding: 5px; 
margin-right: 3px;
}

.LINK2{
  position: absolute;
  left: 34rem;
  bottom: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  font-size: 35px;
  color: white;
  background: yellow;
  text-decoration: none;
  padding: 5px; 
}

.LINK3{
  position: absolute;
  left: 50rem;
  bottom: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  font-size: 35px;
  color: white;
  background: blue;
  text-decoration: none;
  padding: 5px; 

}

.LINK4{
  position: absolute;
  left: 68rem;
bottom: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  font-size: 35px;
  color: white;
  background: green;
  text-decoration: none;
padding: 5px; 
}

  .back {
    position: absolute;
    left: 2rem;
    top: 2rem;
    will-change: text-shadow;
    animation: rgbText 2s steps(9) 0s infinite alternate;
    color: white;
text-decoration: none;
}
  
.back:hover {
  color: white;
  background-color: red;
}
  
      .char {
        will-change: opacity;
        animation: type 1.2s infinite alternate;
        animation-delay: calc(60ms * var(--char-index));
      }
  
  
    .time {
      position: absolute;
      right: 2rem;
      top: 2rem;
      will-change: text-shadow;
      animation: rgbText 1s steps(9) 0s infinite alternate;
    }
  
    .recordSpeed {
      position: absolute;
      left: 2rem;
      bottom: 2rem;
      will-change: text-shadow;
      animation: rgbText 1s steps(9) 0s infinite alternate;
    }

  
  
  
  /* Animations */
  @keyframes noise {
    0%, 100% {background-position: 0 0;}
    10% {background-position: -5% -10%;}
    20% {background-position: -15% 5%;}
    30% {background-position: 7% -25%;}
    40% {background-position: 20% 25%;}
    50% {background-position: -25% 10%;}
    60% {background-position: 15% 5%;}
    70% {background-position: 0 15%;}
    80% {background-position: 25% 35%;}
    90% {background-position: -10% 10%;}
  }
  
  @keyframes opacity {
    0% {opacity: .6;}
    20% {opacity:.3;}
    35% {opacity:.5;}
    50% {opacity:.8;}
    60% {opacity:.4;}
    80% {opacity:.7;}
    100% {opacity:.6;}
  }
  
  @keyframes scanlines {
    from {
      background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
      background-size: 100% 4px;
    }
    to {
      background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
      background-size: 100% 4px;
    }
  }
  
  @keyframes rgbText {
    0% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    25% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    45% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    50% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
    55% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    90% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    100% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
  }
  
  @keyframes type {
    0%, 19% {opacity:0;}
    20%, 100% {opacity:1;}
  }