* {
    margin: 0;
    padding: 0;
}

html {
  height: fit-content;
}

body {
  background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, wheat 3px, wheat 78px, transparent 78px),
        linear-gradient(-90deg, black 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, wheat 3px, wheat 78px, transparent 78px),
        linear-gradient(black 1px, transparent 1px),
        wheat;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
overflow-y: hidden;
margin-bottom: -300px;
margin-top: 50px;
height: 500px;
}
       


.stamp {
	width: 300px;
	height: 220px;
	display: inline-block;
	padding: 10px;
top: -160px;
  margin-top: 200px;
  margin-left: 25px;
	background: whitesmoke;
	position: relative;
  text-align:center;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
		whitesmoke 4px,
		whitesmoke
	);
	background-size: 20px 20px;
	background-position: -10px -10px;
  filter: grayscale(100%);

}
.stamp:after {
	content: '';
	position: absolute;
	left: 5px; top: 25px; right: 5px; bottom: 5px;
	z-index: -1;
}

.stamp:before {
	content: 'Absence';
	position: absolute;
	bottom: 0; left: 0;
	font: bold 24px arial;
	color: whitesmoke;
	opacity: 0.75;
	line-height: 100%;
	padding: 20px;
  font-family: "Karla", sans-serif;
}

.stamp2 {
width: 280px;
height: 260px;
	display: inline-block;
	padding: 10px;
  top: -160px;
  margin-top: 50px;
  margin-left: 20px;
	background: whitesmoke;
	position: relative;
  text-align:center;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
		whitesmoke 4px,
		whitesmoke
	);
	background-size: 20px 20px;
	background-position: -10px -10px;
  filter: grayscale(100%);

}
.stamp2:after {
	content: '';
	position: absolute;
	left: 5px; top: 5px; right: 5px; bottom: 5px;
	z-index: -1;
}

.stamp2:before {
	content: 'neon';
	position: absolute;
	bottom: 0; left: 0;
	font: bold 24px arial;
	color: black;
	opacity: 0.75;
	line-height: 100%;
	padding: 20px;
  font-family: "Karla", sans-serif;
}

.stamp2:hover {
  filter: none;
  transform: scale(1.1, 1.1) rotate(0deg) !important;
  transition: all 0.35s;
}


.stamp3 {
  width: 180px;
  height: 180px;
    display: inline-block;
    padding: 10px;
    top: -560px;
    left: -110px;
    margin-top: 50px;
    margin-left: 10px;
    background: whitesmoke;
    position: relative;
    text-align:center;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    background: radial-gradient(
      transparent 0px, 
      transparent 4px, 
      whitesmoke 4px,
      whitesmoke
    );
    background-size: 20px 20px;
    background-position: -10px -10px;
    filter: grayscale(100%);

  }
  .stamp3:after {
    content: '';
    position: absolute;
    left: 5px; top: 5px; right: 5px; bottom: 5px;
    z-index: -1;
  }
  
  .stamp3:before {
    content: 'cold';
    position: absolute;
    bottom: 0; left: 0;
    font: bold 24px arial;
    color: whitesmoke;
    opacity: 0.75;
    line-height: 100%;
    padding: 20px;
  }


  .stamp4 {
    width: 260px;
    height: 340px;
      display: inline-block;
      padding: 10px;
      margin-top: 50px;
      margin-left: 10px;
      top: -70px;
      left: 10px;
      background: whitesmoke;
      position: relative;
      text-align:center;
      -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
      background: radial-gradient(
        transparent 0px, 
        transparent 4px, 
        whitesmoke 4px,
        whitesmoke
      );
      background-size: 20px 20px;
      background-position: -10px -10px;
      filter: grayscale(100%);
    }
    .stamp4:after {
      content: '';
      position: absolute;
      left: 5px; top: 5px; right: 5px; bottom: 5px;
      z-index: -1;
    }
    
    .stamp4:before {
      content: 'illustration';
      position: absolute;
      bottom: 0; left: 0;
      font: bold 24px arial;
      color: whitesmoke;
      opacity: 0.75;
      line-height: 100%;
      padding: 20px;
    }

    .stamp4:hover {
      filter: none;
      transform: scale(1.1, 1.1) rotate(0deg) !important;
      transition: all 0.35s;

    }

    .stamp5 {
      width: 240px;
      height: 340px;
        display: inline-block;
        padding: 10px;
        margin-top: 50px;
        margin-left: 10px;
        top: 235px;
        left: -950px;
        background: whitesmoke;
        position: relative;
        text-align:center;
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
        background: radial-gradient(
          transparent 0px, 
          transparent 4px, 
          whitesmoke 4px,
          whitesmoke
        );
        background-size: 20px 20px;
        background-position: -10px -10px;
        filter: grayscale(100%);
      }
      .stamp5:after {
        content: '';
        position: absolute;
        left: 5px; top: 5px; right: 5px; bottom: 5px;
        z-index: -1;
      }
      
      .stamp5:before {
        content: 'illustration';
        position: absolute;
        bottom: 0; left: 0;
        font: bold 24px arial;
        color: whitesmoke;
        opacity: 0.75;
        line-height: 100%;
        padding: 20px;
      }
  
      .stamp5:hover {
        filter: none;
        transform: scale(1.1, 1.1) rotate(0deg) !important;
        transition: all 0.35s;
      }

      .stamp6 {
        width: 240px;
        height: 340px;
          display: inline-block;
          padding: 10px;
          margin-top: 50px;
          margin-left: 10px;
          top: -180px;
          left: 300px;
          background: whitesmoke;
          position: relative;
          text-align:center;
          -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
          background: radial-gradient(
            transparent 0px, 
            transparent 4px, 
            whitesmoke 4px,
            whitesmoke
          );
          background-size: 20px 20px;
          background-position: -10px -10px;
          filter: grayscale(100%);
        }
        .stamp6:after {
          content: '';
          position: absolute;
          left: 5px; top: 5px; right: 5px; bottom: 5px;
          z-index: -1;
        }
        
        .stamp6:before {
          content: 'desert';
          position: absolute;
          bottom: 0; left: 0;
          font: bold 24px arial;
          color: whitesmoke;
          opacity: 0.75;
          line-height: 100%;
          padding: 20px;
        }
    
        .stamp6:hover {
          filter: none;
          transform: scale(1.1, 1.1) rotate(0deg) !important;
          transition: all 0.35s;
    
        }


        .stamp7 {
          width: 260px;
          height: 260px;
            display: inline-block;
            padding: 10px;
            margin-top: 50px;
            margin-left: 10px;
            top: -180px;
            left: 305px;
            background: whitesmoke;
            position: relative;
            text-align:center;
            -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
            background: radial-gradient(
              transparent 0px, 
              transparent 4px, 
              whitesmoke 4px,
              whitesmoke
            );
            background-size: 20px 20px;
            background-position: -10px -10px;
            filter: grayscale(100%);
          }
          .stamp7:after {
            content: '';
            position: absolute;
            left: 5px; top: 5px; right: 5px; bottom: 5px;
            z-index: -1;
          }
          
          .stamp7:before {
            content: 'icon';
            position: absolute;
            bottom: 0; left: 0;
            font: bold 24px arial;
            color: whitesmoke;
            opacity: 0.75;
            line-height: 100%;
            padding: 20px;
          }
      
          .stamp7:hover {
            filter: none;
            transform: scale(1.1, 1.1) rotate(0deg) !important;
            transition: all 0.35s;
      
          }

          .stamp8 {
            width: 220px;
            height: 260px;
              display: inline-block;
              padding: 10px;
              margin-top: 50px;
              margin-left: 10px;
              top: -170px;
              left: 315px;
              background: whitesmoke;
              position: relative;
              text-align:center;
              -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
              background: radial-gradient(
                transparent 0px, 
                transparent 4px, 
                whitesmoke 4px,
                whitesmoke
              );
              background-size: 20px 20px;
              background-position: -10px -10px;
              filter: grayscale(100%);
            }
            .stamp8:after {
              content: '';
              position: absolute;
              left: 5px; top: 5px; right: 5px; bottom: 5px;
              z-index: -1;
            }
            
            .stamp8:before {
              content: 'pattern';
              position: absolute;
              bottom: 0; left: 0;
              font: bold 24px arial;
              color: greenyellow;
              opacity: 0.75;
              line-height: 100%;
              padding: 20px;
              transform: rotate(360deg); 
            }
        
            .stamp8:hover {
              filter: none;
              transform: scale(1.1, 1.1) rotate(0deg) !important;
              transition: all 0.35s;
        
            }

            .stamp9 {
              width: 240px;
              height: 320px;
                display: inline-block;
                padding: 10px;
                margin-top: 50px;
                margin-left: 10px;
                top: -200px;
                left: 325px;
                background: whitesmoke;
                position: relative;
                text-align:center;
                -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
                background: radial-gradient(
                  transparent 0px, 
                  transparent 4px, 
                  whitesmoke 4px,
                  whitesmoke
                );
                background-size: 20px 20px;
                background-position: -10px -10px;
                filter: grayscale(100%);
              }
              .stamp9:after {
                content: '';
                position: absolute;
                left: 5px; top: 5px; right: 5px; bottom: 5px;
                z-index: -1;
              }
              
              .stamp9:before {
                content: 'illustration';
                position: absolute;
                bottom: 0; left: 0;
                font: bold 24px arial;
                color: whitesmoke;
                opacity: 0.75;
                line-height: 100%;
                padding: 20px;
              }
          
              .stamp9:hover {
                filter: none;
                transform: scale(1.1, 1.1) rotate(0deg) !important;
                transition: all 0.35s;
          
              }

    .stamp:hover {
      filter: none;
      transform: scale(1.1, 1.1) rotate(0deg) !important;
      transition: all 0.35s;
    }

   
    .stamp3:hover {
      filter: none;
      transform: scale(1.1, 1.1) rotate(0deg) !important;
      transition: all 0.35s;
    }

.back {
  margin-left: 10px;
  font-family: "Karla", sans-serif;
  top:25px;
  margin-right: 5px;
  text-decoration: none;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  position: relative;
  transform: rotate(5deg);
	color: #555;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid brown;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;

}

a.back:hover, a.back:active {
  color: black;
  background: white;
  padding: 5px;
  text-decoration: none;

}

a.back:visited {
  text-decoration: none;
  color: brown;
}
  

.stamp-name {
  transform: rotate(5deg);
	color: #555;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
  font-family: "Karla", sans-serif;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  margin-top: -850px;
float: right;
margin-right: 20px;
}

.is-approved {
	color: #0A9928;
	border: 0.5rem solid #0A9928;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(-4deg);
  border-radius: 0;
  margin-top: -750px;
} 

.is-approved2 {
	color: #0A9928;
	border: 0.5rem solid #0A9928;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(4deg);
  border-radius: 0;
  margin-top: -670px;
} 


.is-draft {
	color: red;
	border: 1rem double red;
	transform: rotate(-5deg);
  font-size: 2.5rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
  margin-right: 730px;
  margin-top: -560px;
} 
  

.is-draft2 {
	color: BLUE;
	border: 1rem double BLUE;
	transform: rotate(5deg);
  font-size: 1.2rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
  margin-right: 1050px;
  margin-top: -600px;
} 

.is-draft3 {
  transform: rotate(-2.5deg);
	color: black;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid black;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
  font-family: "Karla", sans-serif;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  margin-right: 350px;
  margin-top: -550px;
} 


.page {
  margin-top: -90px;
}
          /*.two {
            border: 0;
            height: 3px;
            background: #363844;
            width: 170px; 
            float: right;
          }



  /* left: 50px;
    top: 79.5px; */
    /*$bg-color: #efd1b7;
    $orange: #d55e40;
    $gray: #363844;
    $light-gray: #756046;
    $red: #8b392e;
    $yellow: #f3ae53;
    $blue: #449ba2;
    $whitesmoke: #ffffff;
    /* optional: try CSS Gradients: https:www.css-gradient.com/ */

    /* optional: try CSS dropshadows: https:getcssscan.com/css-box-shadow-examples */
   


