* {
    margin: 0;
    padding: 0;
}


body {

overflow: hidden;
height: 750px;
width: 1000px;
background-color: white;
filter: grayscale(0.2), drop-shadow(8px 8px 10px gray), saturate(2), sepia(25%);
}



.white {
  width: 200px;
  height: 1000px;
  background: white;
  position: relative;
}

.white:hover {
  background-color: magenta;
}

.yellow{
  width: 205px;
  height: 1200px;
  background: yellow;
  margin-left: 200px;
  position: relative;
  top: -525px;
}

.yellow:hover {
  background-color: blue;
}

.blue {
  background: cyan;
  width: 205px;
  height: 1000px;
  margin-left: 185px; 
  top: -600px;
  position: relative;
}

.blue:hover {
  background-color: yellow;
}

.green {
  background: greenyellow;
  width: 205px;
  height: 1000px;
  margin-left: 105px; 
   top: -600px;
  position: relative;
}

.green:hover {
  background-color: red;
}

.pink {
  background: magenta;
  width: 205px;
  height: 1000px;
  margin-left: 50px; 
  position: relative;
  top: -600px;
}

.pink:hover {
  background-color: cyan;
}

.red {
  background: red;
  width: 205px;
  height: 770px;
  margin-left: 205px; 
  position: relative;
  top: -550px;
}

.red:hover {
  background-color: white;
}

.darkblue {
  background: blue;
  width: 220px;
  height: 770px;
  margin-left: 205px;
  position: relative; 
  top: -550px;

}

.darkblue:hover {
  background-color: greenyellow;
}




.white2 {
  width: 200px;
  height: 50px;
  background: blue;
  margin-top: 525px ;
  position: relative;
}

.white2:hover {
  background: greenyellow;
}

.white3 {
  width: 200px;
  height: 300px;
  background: midnightblue;
  margin-top: 525px ;
  position: relative;
}

.white3:hover {
  background: cyan;  
}

.yellow3 {
  width: 20px;
  height: 300px;
  background: midnightblue;
  margin-top: 525px ;
  position: relative;
  top: 50px;
}

.yellow3:hover {
  background: cyan;
}

.yellow4 {
  width: 200px;
  height: 250px;
  background: white;
  margin-top: 525px ;
  position: relative;
  top: 0px;
  left: 20px;
}

.yellow4:hover {
  background: green;

}


.blue3 {
  width: 100px;
  height: 250px;
  background: white;
  margin-top: 525px ;
  position: relative;
  top: 50px;
}

.blue3:hover {
  background: green;

}

.green3 {
  width: 155px;
  height: 250px;
  background: midnightblue;
  margin-top: 525px ;
  position: relative;
  top: 50px;
}

.green3:hover {
  background: blue;
}

.green4 {
  width: 50px;
  height: 250px;
  background:black;
  margin-top: 525px ;
  position: relative;
  top: 0px;
  left: 155px;
}

.green4:hover {
  background: blu;
}

.blue4 {
  width: 105px;
  height: 250px;
  background: midnightblue;
  margin-top: 525px ;
  position: relative;
  top: 0px;
  left: 100px;
}

.blue4:hover {
  background: blue; 
}

.yellow2 {
  width: 215px;
  height: 50px;
  background: black;
  top: 525px ;
  position: relative;
}

.yellow2:hover {
  background: magenta;
}

.yellow2:active {
  background: magenta; 

}

.blue2 {
  width: 215px;
  height: 50px;
  background: magenta;
  top: 550px ;
  position: relative;
}

.blue2:hover {
  background: red; 
}

.green2 {
  width: 215px;
  height: 50px;
  background: black;
  top: 550px ;
  position: relative;
}

.pink2 {
  width: 215px;
  height: 50px;
  background: cyan;
  top: 0px ;
  position: relative;
}

.pink2:hover {
  background: black;
}

.pink3 {
  width: 215px;
  height: 300px;
  background: black;
  top: 550px ;
  position: relative;
  left: 0px;
}

.pink3:hover {
  background: yellow; 
}


.red2 {
  width: 205px;
  height: 300px;
  background: black;
  top: 550px ;
  position: relative;
}

.red2:hover {
  background: red; 
}

.darkblue2 {
  width: 225px;
  height: 50px;
  background: lightgray;
  top: 550px ;
  position: relative;
  margin-bottom: 300px;
}

.darkblue2:hover {
  background: white;
}

.darkblue3 {
  width: 225px;
  height: 300px;
  background: black;
  top: 50px ;
  position: relative;
}

.darkblue3:hover {
  background: magenta;
}

p {
  color: white; 
position: relative;
margin-top: 525px;
margin-left: -500px;
margin-right: -250px;
font-size: 50px;
font-family: "Karla", sans-serif;
font-weight: 600;
left: -500px;
top: -100px;
padding-right: 150px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
border-color: white;
border-width: 5px;
text-shadow: white;
}

p:hover {
}

a {
  color: greenyellow; 
  text-decoration: none;
}

a:hover, a:active {
  color: white;
  font-size: 70px;
  background-color: black;
}


 .stand {
  color: white; 
  position: relative;
  background: black;
  margin-top: 200px;
  text-align: center;
  margin-left: -1250px;
  font-size: 50px;
  font-family: "Karla", sans-serif;
 }



 .frame, .row {
	width: 100%;
	height:100%;
	float: left;
	position:relative;
}

.illustration {
	width:280px;
	position:absolute;
	margin-top:-240px;
	left:50%;
	margin-left:-140px;
}
.box {
	width:100%;
	height:500px;
	float:left;
}

          
.cactus {
	width:100%;
	height:310px;
	position:relative;
	z-index:100;
	float:left;
  top: 300px;
	margin-left:-16px;
}

.cactus:hover {
  color: midnightblue;
}

.jump {
  -webkit-animation: jump 4s infinite;
  animation: jump 4s infinite;
}

@-webkit-keyframes jump {
  10%, 30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: rotateX(4deg);
    transform: rotateX(4deg);
	-webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45%, 100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes jump {
  10%, 30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: rotateX(4deg);
    transform: rotateX(4deg);
	-webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45%, 100% {
    -webkit-transform: none;
    transform: none;
  }
}

.cactus1 {
	width:40px;
	height:280px;
	float:left;
	margin-left:131px;
	position:relative;
  margin-top: 100px;
	z-index:200;
	
	background-color:transparent;
	-webkit-border-radius:70px 70px 0 0;
	-moz-border-radius:70px 70px 0 0;
	-o-webkit-border-radius:70px 70px 0 0;
	-ms-webkit-border-radius:70px 70px 0 0;
	border-radius:70px 70px 0 0;
	-khtml-border-radius:70px 70px 0 0;
  border: 10px solid green;

}

.cactus1:hover {
  border: 10px solid midnightblue;
}


.cactus3 {	
	width:35px;
	height:95px;
	top:134px;
	left:52px;
	z-index:100;
  	position:absolute;
	
	-webkit-border-radius:35px 35px 0 0;
	-moz-border-radius:35px 35px 0 0;
	-o-webkit-border-radius:35px 35px 0 0;
	-ms-webkit-border-radius:35px 35px 0 0;
	border-radius:35px 35px 0 0;
	-khtml-border-radius:35px 35px 0 0;
	
	background: transparent;
  border: 10px solid green;

border-bottom: transparent;
	
}

.cactus3:hover {
  background: transparent;
  border: 10px solid blue; 
  border-bottom: transparent;
}

.cactus3 .arm {
	width:69px;
	height:45px;
	position:absolute;
	bottom:-53px;
	left:-10px;
	z-index:100;
	

	
	-webkit-border-radius:0 0 50% 44%;
	-moz-border-radius:0 0 50% 44%;
	-o-webkit-border-radius:0 0 50% 44%;
	-ms-webkit-border-radius:0 0 50% 44%;
	border-radius:0 0 50% 44%;
	-khtml-border-radius:0 0 50% 44%;
  border: 10px solid green;
border-top: transparent;

}

.cactus3 .arm:hover {
  border: 10px solid magenta;
  border-top: transparent;
}

.cactus3 .arm-form {
	width:24px;
	height:15px;
	right:-44px;
	position:absolute;
	bottom:-15px;
	z-index:200;
	background: transparent;
  border: 10px solid green;
border-top: transparent;

	
	-webkit-border-radius:0 0 50% 50%;
	-moz-border-radius:0 0 50% 50%;
	-o-webkit-border-radius:0 0 50% 50%;
	-ms-webkit-border-radius:0 0 50% 50%;
	border-radius:0 0 50% 50%;
	-khtml-border-radius:0 0 50% 50%;
}

.cactus3 .arm-form:hover {
  background: transparent;
  border: 10px solid yellow;
border-top: transparent;
}

.cactus2 {	
	width:35px;
	height:95px;
	top:164px;
	right:10px;
	z-index:100;
  	position:absolute;
	
	-webkit-border-radius:35px 35px 0 0;
	-moz-border-radius:35px 35px 0 0;
	-o-webkit-border-radius:35px 35px 0 0;
	-ms-webkit-border-radius:35px 35px 0 0;
	border-radius:35px 35px 0 0;
	-khtml-border-radius:35px 35px 0 0;
	
	background: transparent;
  border: 10px solid green;

border-bottom: transparent;
animation-name: arm;
box-shadow: 0px 0px 0px 8px rgba(254,208,40,1), 0px 0px 8px 10px rgba(240,19,11,1), inset 0px 0px 8px 4px rgba(240,19,11,1), 0px 0px 98px 8px rgba(250,29,22,1),
}

.cactus2:hover {
  background: transparent;
  border: 10px solid cyan;
border-bottom: transparent;
}

.cactus2 .arm {
	width:69px;
	height:45px;
	position:absolute;
	bottom:-53px;
	right:-10px;
	z-index:100;
	

	
	-webkit-border-radius:0 0 50% 44%;
	-moz-border-radius:0 0 50% 44%;
	-o-webkit-border-radius:0 0 50% 44%;
	-ms-webkit-border-radius:0 0 50% 44%;
	border-radius:0 0 50% 44%;
	-khtml-border-radius:0 0 50% 44%;
  border: 10px solid green;
border-top: transparent;

}

.cactus2 .arm:hover {
  border: 10px solid white;
border-top: transparent; 
}

.cactus2 .arm-form {
	width:24px;
	height:15px;
	left:-44px;
	position:absolute;
	bottom:-15px;
	z-index:200;
	background-color:transparent;
  border: 10px solid green;
border-top: transparent;

	
	-webkit-border-radius:0 0 50% 50%;
	-moz-border-radius:0 0 50% 50%;
	-o-webkit-border-radius:0 0 50% 50%;
	-ms-webkit-border-radius:0 0 50% 50%;
	border-radius:0 0 50% 50%;
	-khtml-border-radius:0 0 50% 50%;
}

.cactus2 .arm-form:hover {
  background-color:transparent;
  border: 10px solid greenyellow;
border-top: transparent;

}
     



.cactus2 arm{
  animation: blink linear infinite 2s;
}
.cactus2 arm:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    shadow: none;
  }
  81% {
    color: inherit;
    shadow: inherit;
  }
  82% {
    color: #333;
    shadow: none;
  }
  83% {
    color: inherit;
    shadow: inherit;
  }
  92% {
    color: #333;
    shadow: none;
  }
  92.5% {
    color: inherit;
    shadow: inherit;
  }
}

p:hover {
color: blueviolet;
text-shadow: white;
background-size: 200px 50px;
font-size: 40px;
}



          /*.two {
            border: 0;
            height: 3px;
            background: #363844;
            width: 170px; 
            float: right;
          }


  /* left: 50px;
    top: 79.5px; */
    /*$bg-color: #efd1b7;
    $orange: #d55e40;
    $gray: #363844;
    $light-gray: #756046;
    $red: #8b392e;
    $yellow: #f3ae53;
    $blue: #449ba2;
    $white: #ffffff;
    /* optional: try CSS Gradients: https:www.css-gradient.com/ */

    /* optional: try CSS dropshadows: https:getcssscan.com/css-box-shadow-examples */
   


